<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>yzmServlet</servlet-name>
    <servlet-class>com.yzm.servlet.YzmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yzmServlet</servlet-name>
    <url-pattern>/yzmServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.yzm.servlet.CheckServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/checkServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yzm.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
</web-app>
        